@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: right;
    width: 100%;
    height: 40px;
}

a {
    text-decoration: none;
}
   
header a, header img{
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header div {
    float: right;
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_menu {
    width: 24px;
    height: 24px;
}

.link_login {
    font-family: Helvetica;
    font-size: 14px;
    background-color: #447DE9;
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.img_logo {
    height: 100px;
}

input {
    margin-top: 20px;
    width: 550px;
    padding: 12px 12px 12px 20px;
    font-size: 16px;
    color: black;
    background: transparent;
    border-radius: 25px;
    border-color: #9D9E9F;
    border: 1px solid #dadce0;
    outline: 0;
}

.div_pesquisa {
    padding-right: 537px;
    padding-bottom:10px;
    position: relative;
    bottom: 28px;
    color: #9AA0A6;
    font-size: 14px;
}

.div_keyboard {
    padding-left: 450px;
    position: relative;
    bottom: 57px;
    color: #7f8183;
    font-size: 16px;
    text-decoration: none;
}

.div_voice {
    padding-left: 520px;
    position: relative;
    bottom: 77px;
    color: #7f8183;
    font-size: 18px;
    text-decoration: none;
}

.div_main {
    margin-top: -30px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.div_main, a {
    color: rgb(80, 78, 78);
    font-size: 14px;
}

.search_google {
    background-color: #f5f7ff;
    border-radius: 3px;
    padding: 10px;
}

.sorte_google {
    background-color: #f5f7ff;
    border-radius: 3px;
    padding: 10px;
}

footer {
    background-color: #F2F2F2;
    padding: 20px 0;
    margin-top: 21.5%;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #767676;
}

hr {
    border-color: #dadce05d;
    width: 100%;
}

.div_foot a{
    color: #70757a;
}

.div_foot, footer span {
    padding: 5px 50px 0px 50px;
}